<html>

<head>
<title>Proposta di assicurazione</title>
</head>

<body>
<?php include("header.html"); ?>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr color="#808080" size="5">
<table border="0" width="100%">
	<tr>
		<td width="9%"><font face="Verdana" size="4">3</font></td>
		<td width="75%"><font face="Verdana" size="4">Premio</font></td>
		<td width="15%">&nbsp;</td>
	</tr>
	<tr>
		<td width="9%">&nbsp;</td>
		<td width="75%">&nbsp;</td>
		<td width="15%"><font face="Verdana"><? echo $row[valuta]; ?></font></td>
	</tr>

	<tr>
		<td width="50%"><b><font face="Verdana">Premio annuo</font></b></td>
		<td><b><font face="Verdana"><?php echo number_format($row[field12],"2",",",".")."&nbsp;".$row[valuta]; ?></font></b></td>
	</tr>
	<tr>
		<td width="50%"><b><font face="Verdana">Ribasso</font></b></td>
		<td><b><font face="Verdana"><?php
			$risultato = $row[field12]*$row[field14]/100;
			$prezzo_ribassato = $row[field12]-($row[field12]*$row[field14]/100);
			echo "<strong>-&nbsp;".number_format($risultato,"2",",",".")." ".$row[valuta]."</strong> ($row[field14]%)";
			?>
			</font></b></td>
	</tr>
	<tr>
		<td width="50%"><b><font face="Verdana">Premio parziale</font></b></td>
		<td><b><font face="Verdana"><?php echo "<strong>=&nbsp;".number_format($prezzo_ribassato,"2",",",".")." ".$row[valuta]."</strong>"; ?></font></b></td>
	</tr>
	<tr>
		<td colspan=2><hr></td>
	</tr>
	<tr>
		<td width="50%"><b><font face="Verdana">Bollo</font></b></td>
		<td><b><font face="Verdana"><?php
			$risultato = $prezzo_ribassato*$row[field13]/100;
			echo "<strong>+&nbsp;".number_format($risultato,"2",",",".")." ".$row[valuta]."</strong> ($row[field13]%)";
			?></font></b></td>
	</tr>
	<tr>
		<td width="50%"><b><font face="Verdana">Premio totale netto</font></b></td>
		<td><b><font face="Verdana"><?php echo "<strong>=&nbsp;".number_format($row[field15],"2",",",".")." ".$row[valuta]."</strong>"; ?></font></b></td>
	</tr>
	</table>
<hr color="#808080" size="5">
<table border="0" width="100%">
	<tr>
		<td width="9%"><font face="Verdana" size="4">4</font></td>
		<td><font face="Verdana" size="4">Domande di proposta</font></td>
		<td width="15%">&nbsp;</td>
	</tr>
	<tr>
		<td width="9%" height="31">&nbsp;</td>
		<td height="31">&nbsp;</td>
		<td width="15%" height="31"><font face="Verdana">si&nbsp;&nbsp;&nbsp;&nbsp; 
		no</font></td>
	</tr>
	<tr>
		<td width="9%">&nbsp;</td>
		<td><font face="Verdana">1. Eravate o siete attualmente assicurato per i 
		rischi propostici?</font></td>
		<td width="15%"><font face="Verdana" size="4">&nbsp;&#9633;&nbsp;&nbsp;&nbsp;&nbsp; 
		&#9633;</font></td>
	</tr>
</table>
<hr color="#808080" size="5">
<table border="0" width="100%">
	<tr>
		<td width="9%"><font face="Verdana" size="4">5</font></td>
		<td colspan="2"><font face="Verdana" size="4">Dichiarazione finale e 
		firma</font></td>
	</tr>
	<tr>
		<td width="9%">&nbsp;</td>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td width="9%">&nbsp;</td>
		<td><font face="Verdana">Luogo e data:_____________________</font></td>
		<td>
		<p align="right"><font face="Verdana">Firma del proponente 
		_____________________</font></td>
	</tr>
</table>

</body>

</html>
